body {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 2% 0%;
}
.logo img {
    height: 50px;
    width: 50px;
}
.nav {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.nav p {
    margin: 0% 6%;
}
section {
    margin: auto;
    
}
.helloworld h1{
    font-weight: bold;
    font-size: 50px;
}