body {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    
}
header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0%;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo {
    width: 100px;
    height: 100px;
    border: none;
}
.navSelectores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: blue;
    color: white;
    font-size: 32px;
}
.ocultar {
    display: none;
}
li {
    padding: 30px;
    margin-left: 50px;
}
.article {
    margin: 50px;
}
.bottom {
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 90%;
    text-decoration: none;
    margin: 100px 40px;
}
.bottom:hover {
    background: linear-gradient(to right,cyan , blue);
    transition: 125s;
    cursor: pointer;
    color: white;
}
.episodios {
    padding: 200px 50px;
    background: linear-gradient(to right, darkblue , blue);;
    clip-path: polygon(0px 150px, 100% 0px, 100% 90%, 0px 100%);
    width: 100%;
}
.postcast {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
iframe {
    width: 100%;
    height: 300px;
}
.imagenchicasentada {
    margin: auto;
}
.imagenes-invtados-estelares img{
    width: 100%;
}
.temas {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.temas img {
    width: 50%;
    margin: 200px 241px 20px;
}
.h4-2 {
    margin: auto;
}
.h4 {
    margin: 0px 200px;
}
.fondo-azul {
    padding: 200px 50px 20px;
    background: linear-gradient(to right, darkblue , blue);
    clip-path: polygon(0px 150px, 100% 0px, 100% 100%, 0px 100%);
    width: 100%;
}
.bottom2{
    display: flex;
    justify-content: center;
    background-color: aqua;
    width: 90%;
    text-decoration: none;
    margin: 100px 40px;
}
.bottom2:hover {
    background: linear-gradient(to right,cyan , blue);
    transition: 125s;
    cursor: pointer;
    color: white;
}
.p {
    margin: 50px 174px;
}
.iconos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
.iconos img {
    cursor: pointer;
}
h1 {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
    font-size: 120px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}
h2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
    font-size: 120px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
h3 {
    font-size: 35px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}
h4 {
    font-size: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}
p {
    margin: 80px;
    font-size: 38px;
    font-family: 'IBM Plex Mono', monospace;
    color: black;
}
